*{
    margin:0 ;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}



/* .color1 {color: #140f0c;}
.color2 {color: #0e3559;}
.color3 {color: #0877b8;}
.color4 {color: #08c5ff;}
.color5 {color: #0ffff8;} */
:root{

    --color-letra:#08c5ff;
    --color-letra-hover:#0e3559;
    --color-fondo: linear-gradient(black 6%,#0608a3);
    --color-hover-celeste: #0ffff8;
}

.container{
   display: flex;
   flex-direction: column;
   background: var(--color-fondo); 
}

.navbar{
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px  solid var(--color-hover-celeste);
    box-shadow: 0 0 20px var(--color-hover-celeste); 
    
}

.navbar a{
    font-size: 24px;
    color: var(--color-letra);
    text-decoration: none;
    padding: 0 20px;
    
}

.navbar a:hover{ 
    text-shadow: 0 0 10px var(--color-letra)
    ,0 0 40px var(--color-letra)
    ,0 0 80px var(--color-letra);
    
}

.perfil__container{
    width: 100%;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu__hamburguesa{
    color: var(--color-letra);
    /* height: 100%; */
    display: none;
    cursor: pointer;
    
}
.perfil{
    
    position: absolute;
    padding: 15px 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px var(--color-hover-celeste); */
    color: var(--color-letra);
    font-size: 30px;
    letter-spacing: 4px;
    overflow: hidden;
    text-shadow: 0 0 10px var(--color-letra),0 0 40px var(--color-letra);
    
}
.perfil span{
    position: absolute;
    display: block;
} 

.top{
    top: 0;
    left: -110%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,var(--color-letra));
}

.perfil:hover .top{
    left: 100%;
    transition: 1s;
}
.rigth{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--color-letra));
}

.perfil:hover .rigth{

    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.perfil .bottom{
    bottom: 0;
    right: -110%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,var(--color-letra));
}

.perfil:hover .bottom{

    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.perfil .left{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--color-letra));
}

.perfil:hover .left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/**estp es para hacerle como una "luz" al boton
 .perfil-container:hover{
 
    color: var(--color-letra-hover) ;
    background: var(--color-letra);
    box-shadow: 0 0 10px var(--color-letra),0 0 40px var(--color-letra),0 0 80px var(--color-letra);
    transition: 0.5s;

} */

 /**! de aca par abajo es para la view habilidades.php */

.skills-container{
    
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills{
    
    width: 80%;
    height: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: "html css php"
                         "javaScrip laravel java";
    user-select: none;    
    z-index: 0;
}


.skill-1{
    
    grid-area: html;
    justify-self: center;
    align-self: center;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
    
}
.skill-1:hover,.skill-2:hover,
.skill-3:hover,.skill-4:hover,
.skill-5:hover,.skill-6:hover{
    box-shadow: 0 0 10px 10px var(--color-hover-celeste);
    transition: 0.5s;
    
}
.skill-2{
    
    grid-area: css;
    justify-self: center;
    align-self: center;
    filter: brightness(1.1); 
    mix-blend-mode: multiply;
    
}

.skill-3{
    
    grid-area:php; 
    justify-self: center;
    align-self: center;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.8);
}
.skill-4{
    grid-area:javaScrip;
    justify-self: center;
    align-self: center;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.8);
}
.skill-5{
    grid-area:laravel ;
    justify-self: center;
    align-self: center;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.8);
}
.skill-6{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    grid-area:java ;
    justify-self: center;
    align-self: center;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.8);
}
.skills > div >p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-letra);
    margin-bottom: 5px;
    border-top: 2px solid var(--color-hover-celeste);
}
.skills > div >img{
    width: 200px;
    height: 150px;
}

/*!aca empieza el contacto  */

.contacto{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacto a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img__contacto{
    width: 15rem;
    height: 15rem;
    margin: 15px;
}
.contacto__parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-letra);
    margin-bottom: 5px;
    border-top: 2px solid var(--color-hover-celeste);
    font-size: 20px;
}



@media (max-width: 792px){
    .perfil-container{
        padding:0;
        font-size: 20px;
        max-width: auto;
    }
    .nav__close{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    .nav__open{
        
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }
    .navbar{
      /* background-color: #02436e; */
      position: absolute;
      max-width: 500px;
      height: 80vh;
      top:50px;
      right: 0;
      display: grid;
      grid-auto-rows: auto;
      overflow-y: auto;
      border: none;   
      /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);    */
      transition: 1s;
      background-color: black;
      z-index: 1;
      
    }
    .navbar a{
       height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px var(--color-hover-celeste);
    }
    .menu__hamburguesa{
        padding: 10px;
        display: flex;
        /* width: 100%; */
        justify-content: flex-end;
        align-items: center;
    }
    .perfil-container{
        font-size: 20px;
        width: auto;
    }
}
