<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>
<body>
    <main class="container">
    <nav class="navbar">
        <a href="../index.html">Perfil</a>
        <a href="habilidades.html">Habilidades</a>
        <a href="#">Proyectos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <div class="menu__hamburguesa"><i class="fas fa-bars"></i></div>
        <section class="contacto">
            <div><a href="https://www.linkedin.com/in/rodrigo-perez-40b2251b2/" target="_blank"><img class="img__contacto" src="/img/linkedin.png" alt="linkedin" style="border-radius: 50%;"></a><p class="contacto__parrafo">LinkedIn</p></div>
            <div><a href="mailto:rodrigolperez33@gmail.com"><img class="img__contacto" src="/img/mail.png" alt="mail" ></a> <p class="contacto__parrafo">Mail</p></div>
            <div><a href="/files/RodrigoPerezCV.pdf" download="rodrigoCV.pdf"><img src="/img/cv.jpg" alt="" class="img__contacto"></a><p class="contacto__parrafo">Curriculum</p></div>
        </section>
    </main>
</body>
</html>