<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Habilidades</title>
</head>
<body>
 
  <main class="container">
    <nav>
        <a href="../index.html">Me</a>
        <a href="habilidades.html">Habilidades</a>
        <a href="#">Proyectos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <section class="skills-container">
            <div class="skills" >
              <div class="skill-1"><img src="../img/html5.png" alt="html5"> </div>
              <div class="skill-2"><img src="../img/css.png" alt="css"></div>
              <div class="skill-3"><img src="../img/php.png" alt="php"></div>
              <div class="skill-4"><img src="../img/js.png" alt="javaScrip"></div>
              <div class="skill-5"><img src="../img/laravel.png" alt="laravel"></div>
              <div class="skill-6"><img src="../img/java.png" alt="java"></div>
            </div>
    </section>
  </main>
</body>
</html>