<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <title>Habilidades</title>
</head>
<body>
  <main class="container">
    <nav>
        <a href="../index.html">Me</a>
        <a href="habilidades.html">Habilidades</a>
        <a href="#">Proyectos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <section class="skills-container">
      <div class="skills" >
              <div class="skill-1">
                <img src="../img/html5.png" alt="css">
                <p>HTML</p>
              </div>
              <div class="skill-2"><img src="../img/css.png" alt="css"><p>CSS</p></div>
              <div class="skill-3"><img src="../img/php.png" alt="php"><p>PHP</p></div>
              <div class="skill-4"><img src="../img/js.png" alt="javaScrip"><p>javaScrip</p></div>
              <div class="skill-5"><img src="../img/laravel.png" alt="laravel"><p>Laravel</p></div>
              <div class="skill-6"><img src="../img/java.png" alt="java"><p>JAVA</p></div>
            </div>
    </section>
  </main>
</body>
</html>